@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #f8fafc;
}

@media (max-width: 640px) {
    .overflow-hidden {
        overflow-x: auto;
        white-space: nowrap;
        flex-wrap: nowrap;
    }
}